html{
    scroll-behavior: smooth;
}


body{
    background-image: url("./assets/background.png");
    background-size: cover;
    background-position: center;
    background-color: #E1E1E1;
    max-width: 1200px;
    padding: 10;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1A2D48;
    
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    box-shadow: 3px 3px 10px #626262;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 4;
}

.nav-down {
    display: flex;
  }
  
.nav-up {
    display: none;
  }



#logo{
    display: flex;
}

#logo > svg{
    height: 3rem;
    margin-top: 0.5rem;
}

#logo > h3{
    font-family: 'Bebas Neue', sans-serif;
    line-height: 17px;
    font-size: 1.2rem;
}

#ul-header{
    display: flex;
    flex-direction: row;
    gap: 2.2rem;
    align-items: center;
    list-style-type: none;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #1A2D48;
    font-size: 1.2rem;
    text-align: center;
}

#ul-header > a:hover{
    color: #007AFF;
    transition: 0.3s;
}

#ul-header > button{
    border: 0;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border: 2px solid #007AFF;
    color: #007AFF;
    padding: 10px;
    border-radius: 14px;
}

#ul-header > button:hover{
    background-color: #007AFF;
    color: white;
    transition: 0.3s;
}



hr{ 
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 30px;
    width: 1px;       
    margin-left: 0px;
    margin-right: 0px;
}

#popup-div{
    display: block;
    position: fixed;
    background-color: white;
    border-radius: 20px;
    left: 35%;
    top: 20%;
    width: 60vh;
    height: 60vh;
    z-index: 3;
    box-shadow: 13px 13px 34px #3a3a3a;
}

#close-div{
    display: flex;
    justify-content: start;
}

#close-div > svg{
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
}

#close-div > h2{
    width: 60%;
    text-align: center;
    margin-left: 30px;
    line-height: 25px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

form > input{
    border: none;
    background-color: #E1E1E1;
    width: 80%;
    height: 5vh;
    border-radius: 12px;
}

form > button{
    width: 50%;
    border: 0;
    background-color: #007AFF;
    color: white;
    height: 4vh;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 3px 3px 10px #626262;
}

#senha-div{
    display: flex;
    width: 75%;
    justify-content: space-between;
}

#senha-div > label{
    cursor: pointer;
}

#checkbox, #checkbox-label{
    cursor: pointer;
    user-select: none;
}

#popup-div > h3{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 50px;
}



#svg-div{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#svg-div > button > svg{
    height: 5vh;
    width: 5vh;
    margin-right: 4px;
}

#svg-div > button{
    display: flex;
    border: 2px solid #1A2D48;
    color: #1A2D48;
    align-items: center;
    border-radius: 13px;
    cursor: pointer;
}



#foto-fone{
    height: 96vh;
    transform: rotatey(180deg);
    margin-top: 5rem;
}

#section-main{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

#main-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 5rem;
}

#arrow{
    transform: rotatex(180deg);
    height: 6%;
    margin-right: 13rem;
    margin-top: 2rem;
}


#arrow:hover{
    height: 7%;
    transition: 0.1s;
    margin-right: 12.7rem;
    margin-top: 1.8rem;
}

#main-text > h1{
    font-size: 7.1rem;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 0;
    text-align: right;
    line-height: 5rem;
    
}

#main-text > button{
    border: 0;
    width: 50%;
    height: 5%;
    background-color: #007AFF;
    color: white;
    border-radius: 15px;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 3px 3px 10px #626262;
}

#main-text > button:hover{
    width: 60%;
    margin-right: 3rem;
    font-size: 1.2rem;
    transition: 0.1s;
}

#main-text > h5{
    font-size: 0.9rem;
    color: #007AFF;
}

#main-text > h2{
    font-size: 6.2rem;
    margin-bottom: 0;
    margin-top: 9rem;
}

#main-text > h2 > span{
    font-size: 1rem;
}




#section-vantagens{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 66vh;
    border-radius: 20px;
    justify-content: flex-start;
    box-shadow: 3px 3px 10px #626262;
}

#section-vantagens > h3{
    font-size: 2rem;
}

#cards-div{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-top: 0;
}

.card{
    background-color: #007AFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    width: 20rem;
    height: 20rem;
    justify-content: center;
    box-shadow: 3px 3px 10px #626262;
}

.card:hover{
    width: 21rem;
    height: 21rem;
    transition: 0.1s;
}

.card > ul{
    align-self: flex-start;
}

.card > h3{
    font-size: 1.5rem;
}

#qualidade-h3{
    margin-top: 3rem;
}




#section-detalhes{
    background-color: white;
    border-radius: 20px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 50px;
    box-shadow: 3px 3px 10px #626262;
}

.foto-modelo{
    width: 19rem;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    right: 15rem;
    box-shadow: 3px 3px 10px #626262;
}

.foto-modelo:hover{
    width: 20rem;
    right: 14.5rem;
    margin-top: -0.2rem;
}

#section-detalhes > div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 11%;
}

#section-detalhes > h3{
    margin-left: 13%;
    margin-bottom: 0;
    margin-top: 0;
}




footer{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    position: absolute;
    left: 0;
    right: 0;
    height: 30vh;
    align-items: center;
    box-shadow: 3px 3px 10px #626262;
}

footer > ul > a{
    text-align: left;
}

footer > h4{
    text-align: center;
}





